body {
    margin:0;
    padding:0;
    font-family: helvetica, arial, sans-serif;    
    font-size: 10pt;
    background-color: #ddd;
}
table {
    font-size: 10pt;
}

h1 {
    color: white;
    background-color: #0080FF;
    margin:0;
    padding:6px 10px 6px 10px;
    font-size: 12pt;
    font-weight: normal;
}

h2 {
    font-size: 14pt;
}

div.page-container {
    background-color: white;
}

div.contents {
    width: 960px;
    padding: 15px 10px 10px 10px;
    background-color: #fff;
    margin: 0 auto 0 auto;
}

div.page-footer {
    border-top: 1px solid #999;
    padding: 10px 10px 30px 10px;
}
div.page-footer div.copyright {
    float:left;
}
div.page-footer div.links {
    float:right;
}
div.page-footer a:hover {
    text-decoration: underline;
}
div.page-footer a {
    color: black;
    text-decoration: none;
}

textarea.playlist-entry {
    width: 100%;
    height: 25em;
}

ol.playlist {
    list-style: none;
    padding: 0;
}
ol.playlist li {
    font-size:10pt;
}
ol.playlist li div.score {
    width: 30px;
    margin-right: 8px;
    float: left;
    color: #ccc;
    text-align: right;
    font-size: 8pt;
}
ol.playlist li div.counter {
    float: left;
    width: 15px;
    margin-right: 8px;
    text-align: right;
}
ol.playlist li div.song-name {
    float: left;
    width: 355px;
}

form.enter-playlist div.instructions {
    font-size: 8pt;
}
form.enter-playlist div.buttons {
    margin-top: 5px;
}
form.enter-playlist input.button {
    background-color: #0080ff;
    border: 1px solid #222;
    color: white;
    cursor: pointer;
    padding: 5px;
}
form.enter-playlist input.button:hover {
    background-color: #58ACFA;
}

#gs_widget_holder{
    text-align:center;
    margin-top:30px;
}
