<html>
<head>
  <title>Double My Playlist</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <h1>Double My Playlist</h1>

  <div class="page-container">
    <div class="contents">
      <table width="100%">
        <tr>
          <td valign="top">
            <h2>Your New Songs</h2>
% if c.results:
              <ol class="playlist">
<% cnt = 0 %>
% for result in c.results:
<% cnt += 1 %>
                <li style="clear:both">
                  <div class="score">${'%02.01f' % result.score}</div>
                  <div class="counter">${'%02d' % cnt}</div>
                  <div class="song-name">${result.track.artist.name} - ${result.track.name}</div>
                </li>
% endfor
              </ol>
% endif
          </td>

          <td valign="top" style="padding-left:30px; width:500px">
            <h2>Original Playlist</h2>
            <form method="post" action="/doubler/index" class="enter-playlist">
              <div>
                <textarea name="playlist" class="playlist-entry">${c.playlist}</textarea>
                <div class="instructions">Enter your playlist as <code>Artist - Track</code>.  Put one track on a line.</div>
              </div>
              <div class="buttons">
                <input type="submit" value="Double My Playlist!" class="button" />
                <input type="checkbox" id="dont-repeat-artists" name="dont-repeat-artists" 
% if c.dont_repeat_artists:
                       checked="checked"
% endif
                  />
                <label for="dont-repeat-artists">Don't repeat artists</label>
              </div>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="page-footer">
    <div class="copyright">
      &copy;2010 <a href="https://github.com/ke4mtg/">Bobby Miller</a> and <a href="https://github.com/rcrowell">Rob Crowell</a>
    </div>
    <div class="links">
      <a href="https://github.com/ke4mtg/double_my_playlist">/src</a>
    </div>
  </div>

</body>
</html>
